USE [ThueXeVin]
GO
/****** Object:  StoredProcedure [dbo].[SuaThongTinXe]    Script Date: 09/10/2024 3:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE SuaThongTinXe
    @MaXe INT,                     
    @BienSo NVARCHAR(50) = NULL,   
    @MaChiTietXe INT = NULL,       
    @TrangThaiXe NVARCHAR(50) = NULL, 
    @MaBaoHiem INT = NULL,          
    @DuongDanAnh NVARCHAR(255) = NULL 
AS
BEGIN

    BEGIN TRANSACTION;
    
    BEGIN TRY
        UPDATE Xe
        SET 
            BienSo = COALESCE(@BienSo, BienSo),          
            MaChiTietXe = COALESCE(@MaChiTietXe, MaChiTietXe), 
            TrangThaiXe = COALESCE(@TrangThaiXe, TrangThaiXe),   
            MaBaoHiem = COALESCE(@MaBaoHiem, MaBaoHiem),       
            DuongDanAnh = COALESCE(@DuongDanAnh, DuongDanAnh)  
        WHERE 
            MaXe = @MaXe;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SET @ErrorMessage = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END;

EXEC SuaThongTinXe 
    @MaXe = 25, 
    @BienSo = NULL,         
    @MaChiTietXe = NULL,            
    @TrangThaiXe = N'Sẵn sàng',            
    @MaBaoHiem = NULL,              
    @DuongDanAnh = NULL;            
